<nav class="nav-container">
    <a href="/" class="logo">GameSearch</a>

    <div class="nav-links">
        <a href="/rom-upload.html" title="Upload ROM for game details">Upload ROM</a>
        <a href="/about.html" title="About this site">About</a>
        
        <button class="theme-toggle" id="themeToggle" aria-label="Toggle dark/light mode">
            <img id="sunIcon" class="visible" src="/img/sun.svg">
            <img id="moonIcon" class="hidden" src="/img/moon.svg">
        </button>
    </div>
</nav>
